<div class="p-3 mx-auto">
    <app-navbar></app-navbar>
</div>


<div class="d-flex flex-row  justify-content-between ml-3 mr-4">

    <aside class="d-flex flex-column bg-light mt-3 ml-3 mb-4">

        <div class="d-flex flex-column">
            <button type="button" class="btn btn-light mb-3">
                <img src="assets/img/ic_folder_18pt.png" alt="">
                <span> Dossier 1</span>
            </button>
            <button type="button" class="btn btn-light mb-3">
                <img src="assets/img/ic_folder_18pt.png" alt="">
                <span> Dossier 1</span>
            </button>
            <button type="button" class="btn btn-light mb-3">
                <img src="assets/img/ic_folder_18pt.png" alt="">
                <span> Dossier 1</span>
            </button>
            <button type="button" class="btn btn-light mb-3">
                <img src="assets/img/ic_folder_18pt.png" alt="">
                <span> Dossier 1</span>
            </button>
        </div>
    </aside>
    <div class="container w-50 m-2">
        <div class="row">
            <div class="col">
                azeaze
            </div>
            <div class="col">
                azeaze
            </div>
            <div class="col">
                azeaze
            </div>
        </div>
    </div>

    <div class="w-25">
        <app-chat class="mr-3 w-100"></app-chat>
    </div>
</div>