<div class="w-75 mx-auto card p-4">
    <div class="d-flex flex-row justify-content-between">
        <h2>Remboursement</h2>
        <button type="button" class="btn btn-sm btn-primary">Ajouter</button>
    </div>
    <div class="card m-2">
        <div class="card-header">
            Nom : 
        </div>
        <div class="card-body">
            Montant : 
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-success">Rembourser</button>
            <button type="button" class="btn btn-danger">Demander remboursement</button>
        </div>
    </div>
</div>