<div class="d-flex flex-column w-100">
    <button type="button" class="btn btn-light mb-3">
        <img src="assets/img/ic_folder_18pt.png" alt="">
        <span> Dossier 1</span>
    </button>
    <button type="button" class="btn btn-light mb-3">
        <img src="assets/img/ic_folder_18pt.png" alt="">
        <span> Dossier 1</span>
    </button>
    <button type="button" class="btn btn-light mb-3">
        <img src="assets/img/ic_folder_18pt.png" alt="">
        <span> Dossier 1</span>
    </button>
    <button type="button" class="btn btn-light mb-3">
        <img src="assets/img/ic_folder_18pt.png" alt="">
        <span> Dossier 1</span>
    </button>
</div>