<form class="form-group m-4 p-2" [formGroup]="signupForm">
  <div class="card-header mb-3">
    <h3>Ajouter une tache</h3>
  </div>
  <div class="mb-2 d-flex justify-content-between form-group">
    <label for="name" class="form-label">Nom*</label>
    <input type="text" class="form-control w-50"
    formControlName="nom_t"
    [ngStyle]="{'border-color':nom_t?.hasError('required') && signupForm.controls.nom_t!.touched 
                                    || ( nom_t?.hasError('pattern')) ? 'red' : ''}" #name>
  </div>

  <div class="mb-2 d-flex justify-content-between form-group">
    <label for="" class="form-label">Date d'execution*</label>
    <input type="date" name="prix" class="form-control w-50"
    formControlName="date_exec_t"
    [ngStyle]="{'border-color':date_exec_t?.hasError('required') && signupForm.controls.date_exec_t!.touched 
                                    || (signupForm.controls.date_exec_t!.touched && date_exec_t?.hasError('pattern')) ? 'red' : ''}" #date_exec>
  </div>

  <div class="mb-2 d-flex justify-content-between">
    <label for="" class="form-label">Date de fin*</label>
    <input type="date" name="prix" class="form-control w-50"
    formControlName="date_fin_t"
    [ngStyle]="{'border-color':date_fin_t?.hasError('required') && signupForm.controls.date_fin_t!.touched 
                                    || (date_fin_t?.hasError('pattern')) ? 'red' : ''}" #date_fin>
  </div>

  <div class="mb-2 d-flex justify-content-between form-group">
    <label for="" class="form-label">Description*</label>
    <textarea type="text" name="prix" class="form-control w-50"
    formControlName="desc_t"
    [ngStyle]="{'border-color':desc_t?.hasError('required') && signupForm.controls.desc_t!.touched 
                                    || (desc_t?.hasError('pattern')) ? 'red' : ''}" #desc></textarea>
  </div>

  <div class="mb-2 d-flex justify-content-between">
    <label for="" class="form-label">Personne ciblée</label>
    <select class="form-select" aria-label="Default select example" 
    (change)="selectChange($event)">
      <option selected>...</option>
      <option *ngFor="let user of options" value="{{ user }}">{{ user }}</option>
    </select>
  </div>

  <div class="d-flex justify-content-center card-footer">
    <button type="submit" class="btn btn-primary "
      (click)="saveModal(name.value, date_exec.value, date_fin.value, desc.value)">Ajouter</button>
  </div>
  
</form>