.container-fluid{
	padding: 50px 200px;
	overflow: hidden;
	height: 100%;
}
.user-list-card{
	background: white;
	border-radius: 10px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
	height: calc(100vh - 100px);
	padding: 10px;

	.user-card {
		display: flex;
		padding: 10px;
		cursor: pointer;

		&.active {
			background: #EDEDED
		}

		.avatar{
			height: 50px;
			width: 50px;
			border-radius: 50%;
			overflow: hidden;
			margin: 0 10px 0 0;
		}

		.username{
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.user-card:not(:last-child){
		border-bottom: 1px solid #bbbbbb;

	}
}

.chat-container{
	background: white;
	border-radius: 10px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
	height: calc(100vh - 100px);
	position: relative;
	overflow: hidden;

	.chat-header{
		height: 70px;
		background: #EDEDED;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.avatar{
			height: 30px;
			width: 50px;
			border-radius: 50%;
			overflow: hidden;
			margin: 0 20px;
		}

		.username{
			font-size: 34px;
			font-weight: 500;
			margin-bottom: 0;
			display: flex;
			justify-content: end;
			margin-left: 20px;
		}
	}

	.chat-body{
		background: rgb(216, 229, 255);
		height: calc(100vh - 125px);
		padding-bottom: 30%;
		padding-left : 10px;
		padding-right : 8px;
		overflow-y: auto;
		
		.message-container{
			background: white;
			padding: 7px;
			border-radius: 5px;
			width: 50%;
			max-width: 70%;
			margin-bottom: 15px;
		}

		.same-user{
			display: flex;
			justify-content: flex-end;
			
			.message-container{
				background: #fff;
				width: fit-content;
			}
		}
	}

	.chat-footer{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: #EDEDED;
		padding: 10px 20px;
	
		.form-control{
			background: white;
			border: 1px solid #D8DDEC;
			box-sizing: border-box;
			border-radius: 20px;
			font-size: 1rem;
			color: black;
		}
	}
}
