<div class="d-flex w-100">
  <div class="p-1 w-50">
    <div class="carousel slide text-dark carousel-fade" id="slider" slide-bs-ride="carousel">
      <!--indicators-->
      <ol class="carousel-indicators">
        <li data-target="#slider" *ngFor="let taches of tachesUser; let m = index" [attr.data-slide-to]="m"
          ngClass="i == 0 ? 'active' : ''"></li>
      </ol>
      <h2>Taches à faire</h2>
  
      <div class="d-flex flex-row justify-content-between bg-success rounded-start">
  
        <button class="btn text-light" href="#slider" role="button" data-slide="prev">
          <img src="/assets/img/ic_chevron_left_white_18dp.png" alt="">
          <span class="sr-only">Previous</span>
        </button>
  
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let tache of tachesUser; let n = index"
            [ngClass]="n == 0 ? 'item active' : 'item'">
    
            <div class="carousel-caption carousel-caption d-none d-md-block">
              <h2>{{tache.nom_t}}</h2>
              <h3>{{tache.date_exec_t}}</h3>
              <h4>{{tache.desc_t}}</h4>
            </div>
          </div>
        </div>
  
        <button class="btn text-light" href="#slider" role="button" data-slide="next">
          <img src="/assets/img/ic_navigate_next_white_18dp.png" alt="">
          <span class="sr-only">Next</span>
        </button>
      </div>
    </div>
  </div>
  
  <div class="p-1 w-50">
    <div class="carousel slide text-dark carousel-fade" id="sliderNotDefined" slide-bs-ride="carousel">
      <!--indicators-->
      <ol class="carousel-indicators">
        <li data-target="#sliderNotDefined" *ngFor="let taches of tachesNotDefined; let o = index" [attr.data-slide-to]="o"
          ngClass="i == 0 ? 'active' : ''"></li>
      </ol>
      <h2>Taches à faire</h2>
  
      <div class="d-flex flex-row justify-content-between bg-warning rounded-start">
  
        <button class="btn text-light" href="#sliderNotDefined" role="button" data-slide="prev">
          <img src="/assets/img/ic_chevron_left_white_18dp.png" alt="">
          <span class="sr-only">Previous</span>
        </button>
  
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let tache of tachesNotDefined; let p = index"
            [ngClass]="p == 0 ? 'item active' : 'item'">
    
            <div class="carousel-caption carousel-caption d-none d-md-block">
              <h2>{{tache.nom_t}}</h2>
              <h3>{{tache.date_exec_t}}</h3>
              <h4>{{tache.desc_t}}</h4>
            </div>
          </div>
        </div>
  
        <button class="btn text-light" href="#sliderNotDefined" role="button" data-slide="next">
          <img src="/assets/img/ic_navigate_next_white_18dp.png" alt="">
          <span class="sr-only">Next</span>
        </button>
      </div>
    </div>
  </div>
  
  
</div>