
body{
    font-size: 18px;
    
}
aside{
    width: 200px;
}
.chat{
    width: 15%;
}
.navbar{
    
}
.body{
    margin-top:130px;
    width:70%;
}
.aside{
    padding-top:100px;

}
.main-app{
    width: 70%;
}