

    <div class="d-flex flex-column">

        <div class="d-flex flex-row justify-content-between w-100">

            <div>
                <h1 class="text-center border-bottom mb-4">Evenements</h1>
            </div>

            <ul class="nav justify-content-center mb-4 pb-4">
                <li class="nav-item mr-4">
                    <button class="btn btn-secondary" (click)="openModalAdd()">Ajouter</button>
                </li>
            </ul>
        </div>

        <div class="d-flex row justify-content-start">
            <div class=" w-25 m-4" *ngFor="let item of evenements" #item>
                <div class="card-header">
                    <p>{{item.nom_e}}</p>
                    <span>{{item.date_exec_e | date:'dd/MM/yyyy'}}</span>
                </div>

                <div class="card-text">
                    {{item.desc_e}}
                </div>

                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-light" (click)="openModalModif(item)">
                            <img src="assets/img/modify_black.png" alt="">
                        </button>
                        <button type="button" class="btn btn-dark" (click)="openModalDelete(item)">
                            <img src="assets/img/ic_delete_forever_white_24dp.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>