<div class="d-flex flex-row justify-content-center w-100 mb-4">

    <mat-tab-group class="w-100">
        <mat-tab label="Payements">
            <div class="mb-4 w-100 aze">

                <app-depense [currentUser]="currentUser"></app-depense>
            </div>
        </mat-tab>
        
        <mat-tab label="Remboursement">
            <div class="mb-4 w-100 aze">

                <app-remboursement class="mb-4"></app-remboursement>
            </div>
        </mat-tab>
        
        <mat-tab label="Abonnement">
            <div class="mb-4 w-100 aze">

                <app-abonnement [currentUser]="currentUser"></app-abonnement>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>