<div class=" p-3 d-flex flex-column justify-content-around">

  <div class="card d-flex flex-row mb-4">
    <div class="card-body text-center">
      <h3 class="card-title">
        <img src="assets/img/ic_wb_sunny.png" alt=""> Meteo
      </h3>
      <h3 class="card-subtitle mb-2 text-muted">Card subtitle</h3>
      <p class="card-text"></p>
    </div>
    <div class="card-body text-center">
      <h3 class="card-title">
        <img src="assets/img/ic_date_range.png" alt=""> Date
      </h3>
      <h3 class="card-subtitle mb-2 text-muted">{{ currentDate | date:'dd/MM/YYYY'}}</h3>
      <p class="card-text"></p>
    </div>
    <div class="card-body text-center">
      <h3 class="card-title">
        <img src="assets/img/ic_supervisor_account_black_24dp.png" alt=""> Nb. Personne
      </h3>
      <h3 class="card-subtitle mb-2 text-muted" *ngIf="nb_personnes != 0">{{ nb_personnes }}</h3>
      <p class="card-text"></p>
    </div>
    <div class="card-body text-center">
      <h3 class="card-title"> 
        <img src="assets/img/ic_account_balance_wallet_black_24dp.png" alt=""> Loyer
      </h3>
      <h3 class="card-subtitle mb-2 text-muted" *ngIf="loyer_coloc">{{ loyer_coloc }} €</h3>
      <p class="card-text"></p>
    </div>
  </div>

  <div *ngIf="currentUser && currentColoc && currentUser.loyer_user">
    <app-depenses-home [currentUser]="currentUser" [currentColoc]="currentColoc" [loyer]="currentUser.loyer_user">
    </app-depenses-home>
  </div>

  <div class="d-flex flex-row justify-content-between w-100 mb-4">

    <app-taches-home></app-taches-home>

    <app-event-home></app-event-home>
  </div>

  <div class="d-flex flex-row mb-4 justify-content-between w-100">

    <app-stock-home></app-stock-home>

    <app-course-home [currentCourse]="currentCourse" class="w-50"></app-course-home>

  </div>
</div>