.scroll{
    max-height: 420px;
    overflow-y: auto;
}
#sliderEvent .carousel-item {
    height: 60px;
  }
  
  .carousel-caption {
    font-size: 12px;
  }
  .carousel-item{
    margin-top: 40px;
  }