<div class="p-1 w-100">
  <div class="carousel slide text-dark carousel-fade d-flex flex-column" id="sliderEvent" slide-bs-ride="carousel">
    <!--indicators-->

    <div class="d-flex flex-row justify-content-between bg-dark rounded-end rounded-end-3">

      <button class="btn text-light" href="#sliderEvent" role="button" data-slide="prev">
        <img src="/assets/img/ic_chevron_left_white_18dp.png" alt="">
        <span class="sr-only">Previous</span>
      </button>

      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let event of events; let l = index"
          [ngClass]="l == 0 ? 'item active' : 'item'">
  
          <div class="carousel-caption carousel-caption d-none d-md-block">
            <h2 class="text-danger">{{event.nom_e}}</h2>
          </div>
        </div>
      </div>

      <button class="btn text-light" href="#sliderEvent" role="button" data-slide="next">
        <img src="/assets/img/ic_navigate_next_white_18dp.png" alt="">
        <span class="sr-only">Next</span>
      </button>
    </div>
  </div>
</div>