<form class="form-group m-4 p-2">
    <div class="card-header mb-3">
        <h3>Ajouter une tache</h3>
    </div>
    <div class="mb-2 d-flex justify-content-between">
      <label for="name" class="form-label">Nom</label>
      <input type="text" class="form-control w-50" #name>
    </div>

    <div class="mb-2 d-flex justify-content-between">
        <label for="" class="form-label">Date d'execution</label>
        <input type="date" name="prix" class="form-control w-50" #date_exec>
    </div>

    <div class="mb-2 d-flex justify-content-between">
        <label for="" class="form-label">Date de fin</label>
        <input type="date" name="prix" class="form-control w-50" #date_fin>
    </div>

    <div class="mb-2 d-flex justify-content-between">
        <label for="" class="form-label">Description</label>
        <textarea type="text" name="prix" class="form-control w-50" #desc></textarea>
    </div>

    <div class="d-flex justify-content-center card-footer">
      <button type="submit" class="btn btn-primary "
        (click)="saveModal(name.value, date_exec.value, date_fin.value, desc.value)">Ajouter</button>
    </div>
  </form>